<div class="container mt-5">
  <div class="row">
    <h2>修改紀錄</h2>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <form action="/restaurants/{{ restaurant._id }}?_method=PUT" method="POST">
      <button type="submit" class="btn btn-primary">更新</button>
    </form>
  </div>
</div>