<div class="container mt-5">
  <div class="row">
    <h2>新增紀錄</h2>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    <form action="/new" method="POST">
      <button type="submit" class="btn btn-primary">新增</button>
    </form>
  </div>
</div>